 <head>
//     <% include templates/head.ejs%>
// </head>
// <% include templates/header.ejs%>

//     <div class="container">
//         <h2>Categories</h2>

    <% post.Categories.forEach(function(post) { %> 

    
//             <a href="/category/<%= cat.slug %>">
//                                     <%= cat.name %>
//                                 </a> by
//             <%= post.author.first_name %>
//                 <%= post.author.last_name %>
//                     <br>
//                     <% }); %>

//                         <% if (previous_page) { %>
//                             <a href="/blog/p/<%= previous_page %>">Prev</a>
//                             <% } %>

//                                 <% if (next_page) { %>
//                                     <a href="/blog/p/<%= next_page %>">Next</a>
//                                     <% } %>
//                                         <div>
//                                             <% include templates/footer.ejs%>