<head>
    <% include templates/postHead.ejs%>
</head>
<% include templates/postHeader.ejs%>


    <div class="container main">
      <div class="col-sm-12">  
      <div class="row">
        <h2 style="font-family:'kanit',Arial,sans-serif" class="col-sm-12">
            <%= post.title %>
        </h2>
      </div>  
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        Published
        <%= published.getDate() %>/
            <%= published.getMonth()+1 %>/
                <%= published.getFullYear() %>

                    <% if (post.categories.length > 0) { %>
                        in
                        <% post.categories.forEach(function(cat) { %>
                            <span class="text-center">
                                <a href="/category/<%= cat.slug %>">
                                    <%= cat.name %>
                                </a>
                            </span>
                            <% }); %>
                                <% } %>
          </div>                      
        </div>     
                                    <br>

                                   <span style="color:gray;font-family:'kanit',Arial,sans-serif"><img style="max-height:45px;"
                                    src="<%= post.author.profile_image%>" alt="Author image"> 
                                    Author: <%= post.author.first_name %> <%= post.author.last_name %> <a href="<%= post.author.linkedin_url %>" target=blank rel=noopener><i class="fab fa-linkedin"></i></a>
                                    </span>    

                                        <br><br>
                                                
                                            <div style="font-family:'kanit',Arial,sans-serif;color:##292929;font-size:1.1em" id="body">
                                                <%- post.body %>
                                            </div>
                                            <style>

                                            .main {
                                                margin-top: 100px;
                                            }

                                            #body {
                                                margin-bottom: 100px;
                                            }
                                            @media screen and (max-width:800px) {
                                                #body p img  {
                                                  height: 25vw;
                                                  width: auto;
                                              } 

                                              #body {
                                                  max-width: 70vw;
                                              }                                               
                                            }

                                             @media screen and (max-width:500px) {
                                                #body p img  {
                                                  height: 40vw;
                                                  width: auto;
                                              } 

                                              #body {
                                                  max-width: 100vw;
                                              }                                               
                                            }
                                              
                                            </style>
                                         </div>
                                       </div>
                                                <% include templates/postFooter.ejs%>